.movie-card {
  width: 100%;
}

.movie-card img {
  width: 300px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie-card-category {
  background-color: #e4e7ec;
}
