.paginated-list-container {
  padding: 3rem 8rem;
}

.paginated-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.paginated-list-title {
  font-weight: bold;
  font-size: 2rem;
}

.paginated-list-see-all {
  font-weight: bold;
  color: var(--primary-red);
  font-size: 1.25rem;
}

.paginated-list-cards {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.paginated-list-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
}

.paginated-list-info {
  margin-right: 1rem;
}

.paginated-list-pagination {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .paginated-list-container {
    padding: 2rem 4rem;
  }

  .paginated-list-title {
    font-size: 1.5rem;
  }

  .paginated-list-see-all {
    font-size: 1rem;
  }

  .paginated-list-cards {
    justify-content: flex-start;
  }

  .paginated-list-footer {
    flex-direction: column;
    align-items: center;
  }

  .paginated-list-info {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .paginated-list-pagination {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .paginated-list-container {
    padding: 1rem 2rem;
  }

  .paginated-list-title {
    font-size: 1.25rem;
  }

  .paginated-list-see-all {
    font-size: 0.875rem;
  }

  .paginated-list-cards {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
}
