.venue-button {
  margin: 0 1rem;
}

.venue-button h5 {
  width: fit-content;
  border: 1px solid #E4E7EC;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #98A2B3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.venue-button h5:hover {
  background-color: #f0f0f0;
  color: #333333;
}
