@font-face {
  font-family: "Urbanist";
  src: url("./assets/fonts/Urbanist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/fonts/Urbanist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/fonts/Urbanist-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: light;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/fonts/Urbanist-LightItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/fonts/Urbanist-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: light;
}

.title {
  font-size: 64px;
}

.primary-red {
  color: #b22222;
}

.primary-red-background {
  background-color: #b22222;
}

.logo-rounded {
  border-radius: 12px;
}

.main-font {
  font-family: "Urbanist";
}

.navbar-background {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #1d2939;
}

.primary-background {
  height: 100%;
  background-color: #fafafa;
}

.line-sat {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b22222 50%, #808080 50%);
}

.line-checkout {
  width: 100%;
  height: 2px;
  background: #b22222;
}
